.encabezado{
    background-color: $durazno-claro;
    display: grid;
    grid-template-columns: 175px 2fr 1fr;
    grid-template-rows: 25% 75%;
 
 &__logo{
     width: 175px;
     height: 175px;
     grid-column: 1/2;
     grid-row: 1/3;
     padding: 10px;
 }
 
 &__titulo{
     @include flex-flexstart();
     font-size: map-get($estilos,tamañotitulo);
     font-family:map-get($estilos,fuente);
     text-align: map-get($estilos,centrartexto);
     padding: 20px;
     font-weight: bold;
     grid-column: 2/3;
     grid-row: 1/2;
 
 }
 &__eslogan{
    @include flex-flexstart();
    font-family: map-get($estilos,fuente);
    font-size: map-get($estilos,tamañoeslogan);
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 20px;
}

&__netlogos{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 3/4;
    grid-row: 2/3;
  }

}



