@media only screen and (min-width: 0px) and (max-width: 767px){ 
 
    /*AQUI INICIA SECCION DE HEADER*/
    
    .encabezado{
       padding: 10px;
       flex-direction: column;
       display: flex;
      
    }
    .encabezado__logo{
        width: 100px;
        height: 100px;
        display: inline-block;
       flex-direction: column;
    }
    
    .encabezado__titulo{
        display: inline-block;
        font-size: 1.5rem;
        padding: 5px;
        font-weight: bold;
        align-self: center;
    }
    
    .encabezado__eslogan{
        font-size: 1rem;
    }
    
    .encabezado__netlogos{
        display: flex;
        align-self: flex-end;
        padding-left: 300px;
      
      }
    
    
   
    
    /*COMIENZA SECCION DE main-MAIN*/
    
    .main{
        flex-direction: column;
    }
    
    .main__section{
        display: flex;
        padding: 5px;
        flex-direction: column;
    }
    
    .main__subtitulo{
        display:inline-block;
        padding: 5px;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }
    
    .main__cajatexto{
        padding: 5px;
        font-size: 0.8rem;
        text-align: center;
        
    }
    
    .imagen{
      padding: 10px;
      height: 100px;
      width: 100px;
      display: inline-block;
      align-self: center;
     
    }
    
    .fieldset{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }
    
    
    .fieldset__personales{
        padding: 8px;    
        line-height: 1.5;
        font-size:0.5rem;
    }
    
    .fieldset__pedido{
        margin-top: 5px;
       padding: 15px;
       font-size: 0.5rem;
       line-height: 1.5;
    }
    
    .fieldset__sectionboton{
        height:15px;
        width: 150px;
        border-width: 1px;
        font-size: 0.5rem;
    }
    
    .fieldset__cajadescripcion{
     height: 18px;
     width: 150px;
     margin: 5px;
     font-size: 0.5rem;
    }
    
    .fieldset__cajaseleccion{
    font-size: 0.5rem;
    }
    
    /*TERMINA SECCION DE main-MAIN*/
    
    
    /*COMIENZA FOOTER*/
    
    .footer{
        font-size: 0.7rem;
        text-align: center;
        font-weight: bold;
  
    }
    
    /*TERMINA FOOTER*/
    
    
    
    }
    
    /*Media queries/////////////////////////////////////////////////*/
    
    
    /*Vista tablets*/
    
    @media only screen and (min-width: 768px) and (max-width: 1023px){
    
        .encabezado__titulo{
            font-size: 1.5rem;
            padding: 5px;
            padding-top: 20px;
            font-weight: bold;
        }
        
        .encabezado__eslogan{
            font-size: 1rem;
            text-align: left;
            padding: 5px;
        }
    
        .fieldset{
            padding: 10px;
            display: flex;
            justify-content: center;
        }
    
        .fieldset__personales{
            padding: 8px;    
            line-height: 1.5;
            font-size:1rem;
        }
        
        .fieldset__pedido{
           padding: 10px;
           font-size: 1rem;
           line-height: 1.5;
        }
    
        .fieldset__sectionboton{
            height:20px;
            width: 200px;
            border-width: 1.5px;
            font-size: 0.7rem;
        }
    
        .fieldset__cajadescripcion{
            height: 25px;
            width: 150px;
            margin: 5px;
            font-size: 0.5rem;
           }
    }
    
    