
$durazno-claro: peachpuff;
$durazno: salmon;
$durazno-oscuro:rgb(250, 99, 82);
$beige: antiquewhite;
$fondo: cornsilk;
$bordes: black;


$estilos:(
    fuente:'Montserrat',
    centrartexto:center,
    tamañotitulo:2rem,
    tamañoeslogan:1.25rem,
    tamañotexto:1.25rem
);

@mixin flex-flexstart {
    display: flex;
    justify-content: flex-start;

}

@mixin supercentro {
    display: flex;
    justify-content: center;
    align-items: center;
}